{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

  <div class="login-form">
    <form method="post">
      <h1>Login</h1>

      <h3>{{message}}
      </h3>

      <div class="content">
        <div class="input-field">
          <input type="username" name="username" placeholder="username" autocomplete="nope" required>
        </div>
        <div class="input-field">
          <input type="password" name="password" placeholder="Password" autocomplete="password" required>
        </div>
      </div>
      <div class="action">
        <button onclick="location.href='/register'">Register</button>
        <button>Sign in</button>
      </div>
    </form>
  </div>


<script>
  let form = document.querySelecter('form');

form.addEventListener('submit', (e) => {
  e.preventDefault();
  return false;
});
</script>
{% endblock %}