{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}


{% block content %}

{% if state == 1 %}
Sucessfully registered!
{% elif state == 2 %}
User already exists
{%endif%}


  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Register">
  </form>
  <script>
    const form = document.querySelector('form');
    form.addEventListener('submit', async(event) => {
    })
  </script>
{% endblock %}